<br>
<div class = "row">
  <div class="small-5 small-centered medium-5 medium-centered large-5 large-centered columns">
    <h3>Sign Up</h3>
  </div>
</div>

<%= form_for @user do |f| %>
  <%= render partial: "form_new_user", locals: { f: f } %>
<% end %>
