<br>
<div class = "row">
  <div class="small-4 medium-4 medium-offset-3 large-4 columns">
    <h3>Create new user</h3>
  </div>
</div>

<div class = "row">
    <%= form_for [:admin,@user] do |f| %>
      <%render partial: "users/form_new_user", locals: { f: f } %>
    <% end %>
</div>
<br>
